<a href="https://colab.research.google.com/github/Harrde/Python-Coding-/blob/main/Medical%20Python%20Coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Packages

In [70]:
import pandas as pd
import numpy as np
import re
from collections import Counter

In [9]:
df = pd.read_csv("/content/Medical-Equipment-Suppliers 1.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**1. Run the dataframe_describe() function on the dataset and examine the contents.**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69207 entries, 0 to 69206
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ptan                    69207 non-null  object
 1   acceptsassignement      69207 non-null  bool
 2   participationbegindate  69207 non-null  object
 3   businessname            69207 non-null  object
 4   practicename            69207 non-null  object
 5   practiceaddress1        69207 non-null  object
 6   practiceaddress2        14121 non-null  object
 7   practicecity            69207 non-null  object
 8   practicestate           69207 non-null  object
 9   practicezip9code        69207 non-null  int64
 10  telephonenumber         69207 non-null  int64
 11  specialitieslist        68487 non-null  object
 12  providertypelist        8031 non-null   object
 13  supplieslist            69132 non-null  object
 14  latitude                69206 non-null  float64
 15  longitude               69206 non-null  float64
 16  is_contracted_for_cba   69207 non-null  bool
dtypes: bool(2), float64(2), int64(2), object(11)
memory usage: 8.1+ MB

**2. Use the head(), tail() and sample() methods to examine the first 3 practices, the last 3 practices and 3 random practives.  Examine the contents.  Write a description of each column, using your own words.**

In [10]:
df.head(3)

         ptan  acceptsassignement  ... longitude is_contracted_for_cba
0   339460305               False  ... -81.52278                  True
1   414330217               False  ... -80.07157                  True
2  3987660006               False  ... -82.36671                  True

[3 rows x 17 columns]

In [11]:
df.tail(3)

             ptan  acceptsassignement  ... longitude is_contracted_for_cba
69204   536160091               False  ... -83.13497                 False
69205  7562620001               False  ... -73.78759                 False
69206  7836830001                True  ... -73.84208                 False

[3 rows x 17 columns]

In [44]:
df.sample(3)

             ptan  acceptsassignement  ... is_contracted_for_cba SupplyCount
67785   282937703               False  ...                 False           7
13650   279613314               False  ...                 False          11
50958  0483390021               False  ...                 False          12

[3 rows x 18 columns]

*   ptan - This seems to be an unqiue identifyer which is the medicare # given to providers who enrolled to recieve medicare.
*   acceptassignment - This attribute identified is the provider accepted the enrollment or not.
*   participationbeginindate - Date of when the business transaction started
*   businessname - Name of business 
*   practicename - Name of practice 
*   practiceaddress1 - This attribute is the address / location of the practice
*   practiceaddress2 -This attribute identifies if the practice has another running location
*   practicecity - city of practice
*   practicestate - state of practice
*   practicezip9code - zip code of practice 
*   telephonenumber - number of practice 
*   specialitieslist - This attribute shows what the practice specilies in.
*   providertypelist - This attribute identifies if it's a provider or not.
*   supplieslist - Specifies the type of supplies the practice offers.
*   latitude - the distance of the practice north or south of the earths equator
*   longtitude - the distance of the practice east or west of the standard meridian of a celestial object
*   is_contracted_for_cba - this attribte identifies if theyre contracted for cba

**3. Filter the dataste to all practices in Brooklyn, NY.  How many practices are there?**

In [45]:
PracticesBrooklynNY = df.query('practicecity == "BROOKLYN" & practicestate == "NY"')

In [46]:
print(len(PracticesBrooklynNY),'practices in Brooklyn, NY')

854 practices in Brooklyn, NY

**4. Find the top 10 values for the businessname column by frequency.  Display the columns and the coresponding frequencies in descending order.**

In [51]:
df['businessname'].value_counts()[:10].sort_values(ascending=True)

LINCARE INC.                  626
THRIFTY PAYLESS INC           747
GARFIELD BEACH CVS LLC        780
HOLIDAY CVS LLC               856
LUXOTTICA OF AMERICA INC      957
PUBLIX SUPER MARKETS, INC    1002
WALMART INC                  1286
CVS PHARMACY INC             1332
WAL-MART STORES EAST LP      2798
WALGREEN CO                  8787
Name: businessname, dtype: int64

**5. Notice that "CSV Pharmacy Inc" is in the top 10 businessname columns.  What stares does "CSV Pharmacy Inc" have practices in?**

In [52]:
CVSPharmacyInc = df.query('businessname == "CVS PHARMACY INC" ')['practicestate'].unique()
print('CVS Pharmacy has practices in the following states:', CVSPharmacyInc)

CVS Pharmacy has practices in the following states: ['MA' 'TX' 'WY' 'CO' 'SD' 'NM']

**6. Notice that "CVS Pharmacy Inc" is in the top 10 businessname column and has the majority of its pharmacies in Texas. How many practices does it have in these cities in the state of Texas: Arlington, Bedford and Georgetown?**

In [53]:
CVSPracticeCountInTX = df[(df['businessname'] == 'CVS PHARMACY INC') & (df['practicestate'] == 'TX') & (df['practicecity'].isin(['ARLINGTON','BEDFORD', 'GEORGETOWN']))]

In [56]:
print('The follwoing cities in TX with count:\n',CVSPracticeCountInTX['practicecity'].value_counts().sort_values(ascending = True))

The follwoing cities in TX with count:
 BEDFORD        3
GEORGETOWN     3
ARLINGTON     10
Name: practicecity, dtype: int64

**7. Find all the practices that have "Walgreen CO" as the businessname in Brooklyn, NY. Compute the average longitude and latitude for the practices.**

In [58]:
WalCoBrooklynNY = df.query('practicecity == "BROOKLYN" & practicestate == "NY" & businessname == "WALGREEN CO"')

#Identifying the variables columns 
cols = ['longitude', 'latitude']

In [59]:
print('Average longitude and latitude for Walgreen Co practices in Brooklyn NY:\n', WalCoBrooklynNY[cols].mean())

Average longitude and latitude for Walgreen Co practices in Brooklyn NY:
 longitude   -73.956216
latitude     40.646357
dtype: float64

**8. Write a function named get_mean_long_and_lat(state,city) that takes as input the pracice state and the practice city.  The function should filter the Medical Equipment Supplier DataFrame by practicestate == state and practicecity == city and return a tuple of the mean longitude and mean latitude.  Use this function to verify young answer to Question 7.**

In [61]:
def getmean_long_lat(state,city):
  #Filter on the data 
  mask = (df['practicestate'] =='NY') & (df['practicecity'] == 'BROOKLYN')
  latlong = ['practicestate', 'practicecity', 'latitude', 'longitude']
  latlong2 = df[mask][longNlat]

In [62]:
mask = (df['practicestate']== 'NY') & (df['practicecity'] == 'BROOKLYN')

In [63]:
df[mask]

             ptan  acceptsassignement  ... is_contracted_for_cba SupplyCount
8      5424080001               False  ...                  True          48
200    7812870001               False  ...                 False          35
211     385400001               False  ...                  True          34
286     505220126                True  ...                 False           3
304    7645700001               False  ...                 False           6
...           ...                 ...  ...                   ...         ...
69029  7821680001                True  ...                 False          28
69035  5341470001               False  ...                 False           7
69110  6635240001               False  ...                 False           6
69138   567050001                True  ...                 False           8
69190  6115980001               False  ...                 False           6

[854 rows x 18 columns]

In [64]:
print(getmean_long_lat)

<function getmean_long_lat at 0x7fe172d11950>

**9. Add a column to the dataset, called supplycount that contains the number of supplies in
the supplieslist column for each practice. Run the built-in Pandas describe function on the
supplycount column**

In [65]:
#fill nulls in data and create list
df['supplieslist'] = df['supplieslist'].fillna("")
SupplyList = list(df['supplieslist'])

In [27]:
#split list using delimieter
split = []
for x in SupplyList:
  if x == "":
    split.append(0)
  else:
    split.append(x.split('|'))

In [29]:
#create list with # of supplies
ListSupply = []
for c in range(len(split)):
  if split[c] == 0:
    ListSupply.append(0)
  else:
    ListSupply.append(len(split[c]))

In [30]:
#add ListSupply list to dataframe
df['SupplyCount'] = ListSupply

In [68]:
print('Summary of stats\n',df['SupplyCount'].describe().sort_values(ascending = True))

Summary of stats
 min          0.000000
25%          6.000000
std          9.487698
50%         10.000000
mean        12.077116
75%         18.000000
max         72.000000
count    69207.000000
Name: SupplyCount, dtype: float64

10. **Use the supplieslist column to identify if a practice offers wheelchairs and count the total number of practices that offer wheelchairs.**

In [69]:
offersWheelchairs = df[df['supplieslist'].str.contains('Wheelchairs')]

In [33]:
Practices= list(offersWheelchairs['ptan'])

In [71]:
Practices = Counter(Practices).keys()
print('Number of practices that offer wheelchairs:', len(Practices1))

Number of practices that offer wheelchairs: 8732

In [78]:
PracticesVar = []
count = 0

for x in Practices:
  if x not in PracticesVar:
    count = count + 1
    PracticesVar.append(x)

print('Practices that offer wheelchairs:', count)

Practices that offer wheelchairs: 8732


11. There are approximately 80 distinct supplies represented in the supplieslist colum across the entire dataset.  Find the top 5 supplies by frequency and display them along with thier corresponding frequencies.

In [77]:
print('Top 5 supplies:\n', Counter(SupplyList).most_common(5))

Top 5 supplies:
 [('Immunosuppressive Drugs|Nebulizer Drugs|Oral Antiemetic Drugs|Epoetin|Infusion Drugs|Oral Anticancer Drugs|Blood Glucose Monitors/Supplies (Non-Mail Order)', 3356), ('Epoetin|Infusion Drugs|Oral Anticancer Drugs|Blood Glucose Monitors/Supplies (Non-Mail Order)|Immunosuppressive Drugs|Nebulizer Drugs|Oral Antiemetic Drugs', 3356), ('Immunosuppressive Drugs|Nebulizer Drugs|Oral Antiemetic Drugs|Commodes, Urinals, Bedpans|Blood Glucose Monitors/Supplies (Mail Order)|Heat & Cold Applications|Canes and/or Crutches|Walkers|Ostomy Supplies|Enteral Nutrients|Parenteral Nutrients|Nebulizer Equipment and/or Supplies|Surgical Dressings|Oral Anticancer Drugs|Blood Glucose Monitors/Supplies (Non-Mail Order)|Urological Supplies|Enteral Equipment and/or Supplies|Parenteral Equipment and/or Supplies', 2215), ('Oral Anticancer Drugs|Blood Glucose Monitors/Supplies (Non-Mail Order)|Urological Supplies|Enteral Equipment and/or Supplies|Parenteral Equipment and/or Supplies|Immunosuppressive Drugs|Nebulizer Drugs|Oral Antiemetic Drugs|Commodes, Urinals, Bedpans|Blood Glucose Monitors/Supplies (Mail Order)|Heat & Cold Applications|Canes and/or Crutches|Walkers|Ostomy Supplies|Enteral Nutrients|Parenteral Nutrients|Nebulizer Equipment and/or Supplies|Surgical Dressings', 2178), ('Prosthetic Lenses: Conventional Eyeglasses', 1728)]

**12. Filter the dataset to all pracrtices in Brooklyn, NY and sort the resulting dataset by practicename and supplycount.  What is the ptan of the last practice in the filtered and sorted dataset?**

In [79]:
SupplyCountNY = df[(df['practicestate'] == 'NY') & (df['practicecity'] == 'BROOKLYN')]

In [80]:
SupplyCountNY.sort_values(by=["practicename", "SupplyCount"],ascending=[True, True])

             ptan  acceptsassignement  ... is_contracted_for_cba SupplyCount
62705  5861320001               False  ...                 False           9
62455  7597020001               False  ...                 False           6
50032  6612850001               False  ...                 False           6
24308  6337860001               False  ...                 False          13
20456  7819180001                True  ...                 False           6
...           ...                 ...  ...                   ...         ...
40819  7557720001               False  ...                 False           6
49057  4389980001               False  ...                 False           7
28565  6685370001               False  ...                 False           6
43694  6624400001               False  ...                 False           6
69190  6115980001               False  ...                 False           6

[854 rows x 18 columns]

In [81]:
print('The Ptan of the last practice is',SupplyCountNYFilter.iloc[-1,0] )

The Ptan of the last practice is 6115980001